<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>批量导入</title>
</head>
<body>
<form method="post" action="#">
    请输入first：
    <input type="text" name="first"><br>
    请输入second：
    <input type="text" name="second"><br>
    请输入third：
    <input type="text" name="third"><br>
    请输入forth：
    <input type="text" name="forth">
<br>
请在此处输入数据，注意格式是：单词----英文解释----中文翻译<br>
    <textarea name="shujv" style="width: 80%;height: 600px"></textarea>
    <input type="submit">
</form>

</body>
</html>